@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

.orb {
  width: 1px; /* Adjust size as needed */
  height: 1px;
  background-color: rgba(10, 186, 181, 0.2);
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 250px 250px rgba(10, 186, 181, 0.2); /* Glowing effect */
  z-index: 0; 
}

/* .orb.top-left {
  top: -5vh;
  left: -10vw;
}

.orb.bottom-right {
  bottom: -10vh;
  right: -10vw;
} */

@keyframes rotate-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.animate-rotation {
  animation: rotate-icon 0.5s ease-in-out;
}

.button {
  position: relative;
  width: 350px;
  margin: auto;
  margin-top: 20px;
  padding: 10px 0;
  background-color: tranparent;
  border: 1px solid #00A9A488; 
  overflow: hidden;
  cursor: pointer;
  transition: background-color 1s ease;
  z-index: 0;
}

.button:before, .button:after {
  content: '';
  position: absolute;
  background-color: #00A9A488; 
  z-index: 1;
  transition: width 0.4s ease-out;
}

.button:before {
  top: 0;
  left: 0;
  bottom: 50%;
  width: 0;
}

.button:after {
  bottom: 0;
  right: 0;
  top: 50%;
  width: 0;
}

.button:hover:before {
  width: 100%;
}

.button:hover:after {
  width: 100%;
}

.button:hover {
  background-color: #00A9A488;
}

.button-text {
  position: relative;
  z-index: 2;
  transition: color 0.4s ease;
}
